.corpo_conta{
    width: 100%;
    height: 700px;
    background-color:#3B4047;
    float: left;
}

.corpo_conta h1{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 50px;
    font-family: 'fonte1';
}

.corrente{
    width: 45%;
    height: 460px;
    background: linear-gradient(180deg, #FFE605 0%, #FFFFFF 100%);
    border-radius: 50px;
    margin-left: 40px;
    float: left;
}

.corrente h2{
    text-align: center;
    font-size: 35px;
    font-family: 'fonte1';
    height: 20px;
}

.corrente p{
    font-family: 'fonteroboto';    
    font-size: 27px;
    width: 55%;
    margin-left: 10px;
    float: left;
}

.corrente img{
    width: 42%;
    float: left;
}


.poupanca{
    width: 45%;
    height: 460px;
    background: linear-gradient(180deg, #FFE605 0%, #FFFFFF 100%);
    border-radius: 50px;
    margin-left: 60px;
    float: left;
}

.poupanca h2{
    text-align: center;
    font-size: 35px;
    font-family: 'fonte1';
    height: 20px;
    position: relative;
    width: 100%;
}

.poupanca p{
    font-family: 'fonteroboto';    
    font-size: 27px;
    width: 46%;
    padding-left: 70px;
    float: left;
    text-align: right;
}

.poupanca img{
    width: 38%;
    float: left;
    padding-left: 30px;
}