@font-face {
    font-family: "fonteroboto";
    src: url(../fontes/Roboto/Roboto-Regular.ttf);
}

.corpo_emprestimo{
    width: 100%;
    height: 800px;
    background-color:#3B4047;
    float: left;
}

.corpo_emprestimo h1{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 50px;
    font-family: 'fonte1';
}

.emprestimo{
    background: linear-gradient(180deg, #FFE605 0%, #FFFFFF 100%);
    width: 80%;
    height: 550px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.emprestimo p{
    width: 40%;
    font-family: 'fonteroboto';
    font-size: 40px;
    padding-left: 60px;
    line-height: 52px;
    padding-bottom: 40px;
}

.emprestimo img{
    width: 60%;
}

.botao {
              
    font-family: 'fonte1';
    width: 25%;
    background:#eeff00;
    color: #3B4047;
    border-radius:25px;
    border:0;
    cursor:pointer;
    font-size:22px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    font-weight:700;
    margin-left: 38%;
    margin-top: 2%;
  }
  
  .botao {
    border-color: #dbc834;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #FFE605 inset, 0 0 0 0 #b7d61a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .botao:hover {
    box-shadow: 0 0 10px 0 #dbd334 inset, 0 0 10px 4px #d3db34;
  }