@font-face {
    font-family: "fonte1";
    src: url(../fontes/Roboto/LICENSE.txt);}

.content {
    width: 100%;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    background-color: #D9B039;
}

.logo {
    width: 8%;
    height: 70%;
}

.menu {
    width: 500px;
}

ul{  
    
    display: flex; 
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 600px; 
    border: 0.2px solid #d1de28; 
    background-color: #3B4047;
    padding: 25px 0; 
    border-radius: 25px;
    box-shadow: -5px 8px 0 #263038, -10px 15px 0 rgba(0, 0, 0, 0.19);
}
    li{
    margin: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-family: 'fonte1';
    text-decoration: none;
    }

    li:after {
    display: block;
    }

    li:hover {
    transform: scaleX(1);
    color: rgb(225, 255, 0);
    }

    li Link{
        text-decoration: none;
    }

    .login {
        width: 170px;
    }

    .botao {
              
        font-family: 'fonte1';
        width: 100%;
        background:#3B4047;
        color: rgb(255, 255, 255);
        border-radius:5px;
        border:0;
        cursor:pointer;
        font-size:18px;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
        font-family:Arial, Helvetica, sans-serif;
        box-shadow: -5px 8px 0 #263038, -10px 15px 0 rgba(0, 0, 0, 0.19);
      }

      .botao:hover {
        transform: scaleX(1);
        color: rgb(225, 255, 0);
        }

     