.corpo_investimento{
    width: 100%;
    height: 780px;
    background-color:#3B4047;
    float: left;
}

.corpo_investimento h1{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 50px;
    font-family: 'fonte1';
}

.container{
    width: 45%;
    height: 250px;
    background-color: black;
    margin-left: 50px;
    margin-bottom: 20px;
    float: left;
    display: flex;
    background: linear-gradient(180deg, #FFE605 0%, #FFFFFF 100%);
}



#bitcoin h1{
    width: 100%;
    height: 10px;
    text-align: center;
    float: left;
    font-size: 35px;
    color: #3B4047;
    font-family: 'fonte1';
}

#bitcoin p{
    color: #3B4047;
    font-size: 25px;
    width: 75%;
    padding-left: 30px;
    font-family: 'fonteroboto';
    float: left;
}

#bitcoin img{
    width: 10%;
    float: left;
    padding-left: 30px;
}

#tesouro h1{
    width: 100%;
    height: 25px;
    text-align: center;
    float: left;
    font-size: 35px;
    color: #3B4047;
    font-family: 'fonte1';
}

#tesouro p{
    color: #3B4047;
    font-size: 20px;
    width: 80%;
    padding-left: 30px;
    font-family: 'fonteroboto';
    float: left;
}

#tesouro img{
    width: 15%;
    float: left;
}

#acoes h1{
    width: 100%;
    height: 25px;
    text-align: center;
    float: left;
    font-size: 35px;
    color: #3B4047;
    font-family: 'fonte1';
}

#acoes p{
    color: #3B4047;
    font-size: 21px;
    width: 75%;
    padding-left: 30px;
    font-family: 'fonteroboto';
    float: left;
}

#acoes img{
    width: 15%;
    float: left;
    padding-left: 30px;
}

#fundos h1{
    width: 100%;
    height: 25px;
    text-align: center;
    float: left;
    font-size: 35px;
    color: #3B4047;
    font-family: 'fonte1';
}

#fundos p{
    color: #3B4047;
    font-size: 20px;
    width: 80%;
    padding-left: 30px;
    font-family: 'fonteroboto';
    float: left;
}

#fundos img{
    width: 15%;
    float: left;
}

.botao {
              
    font-family: 'fonte1';
    width: 25%;
    background:#eeff00;
    color: #3B4047;
    border-radius:25px;
    border:0;
    cursor:pointer;
    font-size:22px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    font-weight:700;
    margin-left: 38%;
  }
  
  .botao {
    border-color: #dbc834;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #FFE605 inset, 0 0 0 0 #b7d61a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .botao:hover {
    box-shadow: 0 0 10px 0 #dbd334 inset, 0 0 10px 4px #d3db34;
  }